<div id="btns">
    <button id="close" (click)="closeBtnClicked.emit()">
        <ng-container [ngTemplateOutlet]="rightArrow"></ng-container>
    </button>

    <a id="delete">
        Delete
        <ng-container [ngTemplateOutlet]="del"></ng-container>
    </a>
    <a id="edit" [routerLink]="['/creator', show.id]">
        Edit
        <ng-container [ngTemplateOutlet]="edit"></ng-container>
    </a>
</div>

<h1 id="title">{{show.title}}</h1>

<p id="description">Some show description</p>


<div class="steps">
    <h2>Scenes: ({{show.scenes.length}})</h2>
    <scene-list id="scene-list" [scenes]="show.scenes" [readonly]="true"></scene-list>
</div>

<a id="play" [routerLink]="['/player', show.id]" class="btn primary">Play</a>

<ng-template #rightArrow>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
</ng-template>

<ng-template #play>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <polygon points="10 8 16 12 10 16 10 8"></polygon>
    </svg>
</ng-template>
<ng-template #edit>
    <svg
     xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-edit">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
    </svg>
</ng-template>

<ng-template #del>
    <svg 
     xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
        <polyline points="3 6 5 6 21 6"></polyline>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
    </svg>
</ng-template>
