@use '/src/styles';

:host{
    @extend %max-WH, %flx-col, %glass;
    gap: 1rem;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    max-width: 30rem;
    box-shadow: var(--shadow);
    border-radius: unset;
    border-top-left-radius: var(--bd-radius);
    padding-left: 1rem;
}

#btns{
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem 0 0;

    #close{
        @extend %bare, %align-center, %just-center;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;

        &:hover{
            background: var(--gray);
        }
    }

    #edit{
        @extend %bare, %align-center;
        cursor: pointer;
        gap: 0.5rem;
        text-decoration: none;
        color: var(--txt-color);
        font-size: 1rem;
        padding: 0.25rem 1.5rem;
        border-radius: 8px;
        border: solid 2px var(--gray);

        svg{
            width: 1rem;
            height: 1rem;
        }

        &:hover{    
            color: var(--color-primary);
            border-color: var(--color-primary);
        }   
    }

    #delete{
        @extend #edit;

        &:hover{
            color: red;
            border-color: red;
        }   
    }
}

#play{
    @extend %align-center;
    text-decoration: none;
    align-self: center;
    width: 20rem;
    height: 3.5rem;
    font-size: 1.25rem;

    svg{
        width: 1.2rem;
        height: 1.2rem;
    }
}

#description{ color: #7a7777; }

#scene-list{
    max-width: 25rem;
    margin-left: 1rem;
    border-left: solid 2px var(--gray);
}

.steps{
    @extend %flx-col;
    overflow-y: auto;
    gap: 1rem;
}