@import '/src/scss/variables.scss';
@import '/src/scss/mixins.scss';

:host{
    @extend %max-WH, %flx-col;
    gap: 1rem;
}

#btns{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 0.5rem;

    #close{
        @include reset-input;
        @extend %align-center, %just-center;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;

        &:hover{
            background: $gray;
        }
    }

    #edit{
        @extend %align-center;
        cursor: pointer;
        gap: 0.5rem;
        text-decoration: none;
        color: $txt-color;
        font-size: 1rem;
        padding: 0.25rem 1.5rem;
        border-radius: 8px;
        border: solid 2px $gray;

        svg{
            width: 1rem;
            height: 1rem;
        }

        &:hover{    
            color: $clr-accent;
            border-color: $clr-accent;
        }   
    }

    #delete{
        @extend #edit;

        &:hover{
            color: red;
            border-color: red;
        }   
    }
}

#play{
    @extend %align-center;
    text-decoration: none;
    align-self: center;
    width: 20rem;
    height: 3.5rem;
    font-size: 1.25rem;

    svg{
        width: 1.2rem;
        height: 1.2rem;
    }
}

#description{ color: #7a7777; }

#scene-list{
    max-width: 25rem;
    margin-left: 1rem;
    border-left: solid 2px $gray;
}

.steps{
    @extend %flx-col;
    overflow-y: auto;
    gap: 1rem;
}