<div id="btns">
    <a id="delete" (click)="showPrompt()">
        Delete
        <i-tabler name="trash"></i-tabler>
    </a>
    <a id="edit" [routerLink]="['/creator', show.id]">
        Edit
        <i-tabler name="edit"></i-tabler>
    </a>
</div>

<h1 id="title">{{show.title}}</h1>

<div class="steps">
    <h2>Scenes: ({{show.scenes.length}})</h2>
    <scene-list id="scene-list" [scenes]="show.scenes"></scene-list>
</div>

<a id="play" [routerLink]="['/player', show.id]" class="btn primary">Play</a>

