<!-- <div id="options">
    <ul>
        <li [class.active]="selectedSetting=='geo'" (click)="selectedSetting='geo'">GeoLocation</li>
        <li [class.active]="selectedSetting=='script'" (click)="selectedSetting='script'">Script</li>
    </ul>
</div> -->


<ng-template #geoLocation [ngIf]="selectedSetting=='geo'">
    
    <button id="set-openspace" class="btn primary">Set From OpenSpace</button>

    <div class="section" id="title">
        <label for="title">Title:</label>
        <input name="title" type="text" class="input" [(ngModel)]="scene.title" 
        placeholder="Scene Title">
    </div>
    <div id="geoLocation">
        <div class="section">
            <label for="title">Latitude:</label>
            <input name="title" type="number" class="input" [(ngModel)]="scene.geoPos.lat" 
            placeholder="Latitude">
        </div>
        <div class="section">
            <label for="title">Longitude:</label>
            <input name="title" type="number" class="input" [(ngModel)]="scene.geoPos.long" 
             placeholder="Longitude">
        </div>
        <div class="section">
            <label for="title">Altitude:</label>
            <input name="title" type="number" class="input" [(ngModel)]="scene.geoPos.alt" 
             placeholder="Altitude">
        </div>
    </div>

    <div class="section">
        <button class="btn secondary" (click)="clear()">Clear All</button>
        <button class="btn primary" (click)="sceneSavedEvent.emit(scene)"
        [disabled]="!scene.title">Save</button>
    </div>

</ng-template>

<ng-template #settings [ngIf]="selectedSetting=='script'">  
    <textarea name="script" id="script" 
    class="input" placeholder="Enter Script"></textarea>
</ng-template>