<div id="options">
    <ul>
        <li class="active">GeoLocation</li>
        <li>Settings</li>
    </ul>
</div>

<div class="section" id="title">
    <label for="title">Title:</label>
    <input name="title" type="text" class="input" placeholder="Scene Title">
</div>

<div id="geoLocation">
    <div class="section">
        <label for="title">Latitude:</label>
        <input name="title" type="number" class="input" placeholder="Latitude">
    </div>
    <div class="section">
        <label for="title">Longitude:</label>
        <input name="title" type="number" class="input" placeholder="Longitude">
    </div>
    <div class="section">
        <label for="title">Altitude:</label>
        <input name="title" type="number" class="input" placeholder="Altitude">
    </div>

    <div class="section">
        <button class="btn secondary">Clear All</button>
        <button class="btn primary">Set From OpenSpace</button>
    </div>
</div>