@import '/src/scss/variables.scss';
@import '/src/scss/func.scss';

:host{
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr);
    justify-items: center;
    row-gap: 0.5rem;
}

.tabs{
    @extend %align-center;
    gap: 0.5rem;
    padding: 0.3rem;
    background: tint($gray, 10%);
    border-radius: 8px;
    
    .tab{
        cursor: pointer;
        text-align: center;
        border-radius: 8px;
        border: solid 2px transparent;
        padding: 0.5rem 0.75rem;
        min-width: 7rem;
        
        &.active, &:hover{
            @extend %shadow;
            background: #ffffff;
            border-color: $clr-accent;
        }
    }

}