@import '/src/scss/variables.scss';
@import '/src/scss/mixins.scss';
@import '/src/scss/func.scss';

.item {
	@extend %max-W;
	display: grid;
	grid-template-columns: 1fr max-content;
	column-gap: 1rem;
	align-items: center;

	cursor: pointer;
	padding: 0.35rem;
	border-radius: 4px;
	transition: $transistion;

	p {
		color: inherit;
		white-space: nowrap;
	}

	&:hover {
		background: $gray;
	}

	&.disabled {
		cursor: not-allowed;
		color: shade($gray, 30%);
	}
}

.hotkey {
	font-size: 0.9rem;
}
