@use '/src/styles';

:host{
    @extend %max-WH, %flx-col, %align-center;
    gap: 3rem;
}

.wrapper{
    @extend %max-W, %align-center, %flx-col;
    gap: 1rem;
    flex: 1;
    
    h1{
        width: 90%;
        max-width: 100rem;
        font-size: 3rem;
        font-weight: 400;
    }
}

.header{
    @extend %max-W, %just-center;
    margin-top: 1rem;
}