@import '/src/scss/mixins.scss';
@import '/src/scss/func.scss';
@import '/src/scss/variables.scss';

:host {
	display: grid;
	grid-template-rows: max-content minmax(0, 1fr);
	gap: 0.5rem;
	min-width: 100%;
	width: 0;
}

#header {
	font-size: 1.5rem;
}

.issues {
	@extend %max-W, %flx-col;
	max-width: 100%;
	padding: 0 0.5rem;
	gap: 0.5rem;
	overflow-y: auto;

	&.no-issues {
		@extend %align-center, %just-center;
	}

	.issue {
		@extend %max-W, %card;
		transition: all 0.2s;
		display: grid;
		grid-template-columns: 1fr max-content;
		grid-template-rows: max-content max-content;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem;

		&:hover {
			border-color: $clr-accent;
		}
	}

	.ico {
		width: 3rem;
		height: 3rem;
	}

	.error-msgs {
		grid-row: 2;
		@extend %flx-col;
		gap: 0.5rem;
		max-width: 100%;
		padding-left: 0.5rem;

		.msg {
			display: grid;
			grid-template-columns: max-content 1fr;
			grid-template-rows: max-content max-content max-content;
			align-items: center;
			gap: 0.5rem 1rem;
			padding-bottom: 0.5rem;

			& > .subtitle {
				grid-column: 1;
			}

			&:not(:last-child) {
				border-bottom: solid 2px $gray;
			}
		}
	}
}

.warning,
.error {
	text-align: center;
	width: 7rem;
	padding: 0.25rem;
	border-radius: $bd-rad;
}

.warning {
	color: shade(#ffd78e, 70%);
	background: #ffd78e;
}

.error {
	color: $clr-err;
	background: tint($clr-err, 80%);
}

.go-to {
	@include reset-input;
	grid-row: 1;
	grid-column: 2;
	cursor: pointer;
	color: shade($clr-accent, 10%);
	font-size: 1rem;
}
