@use '/src/styles';


.wrapper{
    @extend %max-WH, %align-center;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    padding: 0.5rem;

    &:hover{
        background: var(--gray);
    }
    
    &.active{
        p{ color: #ffffff; }
        svg{ color: #ffffff; }
        background-color: var(--color-secondary);
    }

    & > div:first-child{
        @extend %align-center;
        gap: 0.5rem;
    }
}

svg{
    width: 1.2rem;
    height: 1.2rem;
}

.breake{
    cursor: grab;
    
    &:active{ cursor: grabbing; }
}