<div class="wrapper" [class.active]="isActive" (click)="itemClickedEvent.emit(this)">
    <div>
        <p>{{scene.title}}</p>
    </div>

    <ng-container [ngTemplateOutlet]="more"></ng-container>
</div>

<div class="ctx-menu" *ngIf="isCtxShowing" clickedoutsideof (onClickOutside)="onClickOutsideOf($event)">
    <div id="delete" (click)="onDeleteClicked()">
        Delete
        <ng-container [ngTemplateOutlet]="del"></ng-container>
    </div>
    <div (click)="onDuplicateClicked()">
        Duplicate
        <ng-container [ngTemplateOutlet]="duplicate"></ng-container>
    </div>
</div>



<ng-template #more>
    <svg #m (click)="isCtxShowing = !isCtxShowing" id="more" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-more-vertical">
        <circle cx="12" cy="12" r="1"></circle>
        <circle cx="12" cy="5" r="1"></circle>
        <circle cx="12" cy="19" r="1"></circle>
    </svg>
</ng-template>


<ng-template #del>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
        <polyline points="3 6 5 6 21 6"></polyline>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
    </svg>
</ng-template>

<ng-template #duplicate>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy">
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
    </svg>
</ng-template>