<div class="search-bar">
    <ng-container [ngTemplateOutlet]="searchIcon"></ng-container>
    <input id="search" type="text" 
     placeholder="Search Scenes" [(ngModel)]="query">
</div>

<div class="list" cdkDropList [cdkDropListData]="scenes" (cdkDropListDropped)="onDrop($event)">
    <div class="wrapper" *ngFor="let s of scenes | searchScenes: query" cdkDrag>

        <div class="custom-placeholder" *cdkDragPlaceholder=""></div>
        
        <svg cdkDragHandle xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" breake feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
        </svg>
        
        <list-item class="item" [scene]="s" 
        (itemClickedEvent)="onItemClicked($event)"
        (deleteClickedEvent)="onDeleteClicked($event)"
        (duplicateClickedEvent)="onDuplicateClicked($event)">
        </list-item>
    </div>
</div>

<ng-template #searchIcon>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
</ng-template>