<div class="list" cdkDropList [cdkDropListData]="scenes" (cdkDropListDropped)="onDrop($event)">

    <div class="wrapper" *ngFor="let s of scenes" cdkDrag>

        <div class="custom-placeholder" *cdkDragPlaceholder=""></div>
        
        <svg cdkDragHandle xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" breake feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
        </svg>
        
        <list-item class="item" [scene]="s" (itemClickedEvent)="onItemClicked($event)"
            (deleteClickedEvent)="deleteClickedEvent.emit(s)" (duplicateClickedEvent)="onDuplicateClicked($event)">
        </list-item>
    </div>
</div>