<div class="header">
    <div class="search-bar">
        <i-tabler name="search" class="icon"></i-tabler>
        <input id="search" type="text"  placeholder="Search shows"
        [(ngModel)]="query">
    </div>

    <a routerLink="/creator/new" class="btn primary">New Show</a>
</div>

<ng-container *ngIf="shows.length then list; else empty"></ng-container>

<ng-template #list>
    <div class="list-wrapper">
        <shows-list [shows]="shows | searchShows: query" 
        (cardClicked)="showPreviewService.previewShow($event)"></shows-list>
    </div>
</ng-template>

<ng-template #empty>
    <div class="empty-wrapper">
        <h2>No Shows Yet. <a id="create" routerLink="/creator/new">Create One</a> to get started.</h2>
    </div>
</ng-template>