<form id="geoLocation" [formGroup]="geoPosForm">
	<div class="section" id="mode">
		<label for="mode">Mode:</label>
		<div id="mode-set">
			<span [class.active]="isAutoMode" (click)="$isAutoMode.next(true)">Auto</span>
			<span [class.active]="!isAutoMode" (click)="$isAutoMode.next(false)">Manual</span>
		</div>
	</div>

	<div class="section">
		<label for="lat">Latitude:</label>
		<input name="lat" class="input" formControlName="lat" placeholder="Latitude" required />

		<ng-container *ngIf="lat.errors?.['required']" [ngTemplateOutlet]="required"></ng-container>
		<ng-container *ngIf="lat.errors?.['pattern']" [ngTemplateOutlet]="pattern"></ng-container>
	</div>
	<div class="section">
		<label for="long">Longitude:</label>
		<input name="long" class="input" formControlName="long" placeholder="Longitude" required />
		<ng-container *ngIf="long.errors?.['required']" [ngTemplateOutlet]="required"></ng-container>
		<ng-container *ngIf="long.errors?.['pattern']" [ngTemplateOutlet]="pattern"></ng-container>
	</div>
	<div class="section">
		<label for="alt">Altitude:</label>
		<input name="alt" class="input" formControlName="alt" placeholder="Altitude" required />
		<ng-container *ngIf="alt.errors?.['required']" [ngTemplateOutlet]="required"></ng-container>
		<ng-container *ngIf="alt.errors?.['pattern']" [ngTemplateOutlet]="pattern"></ng-container>
	</div>
	<div class="section">
		<label for="node">Node:</label>
		<dropdown [items]="pathNavOptions" name="pathnav" formControlName="node"></dropdown>
	</div>
</form>
<ng-container *ngIf="$isDisconnected | async" [ngTemplateOutlet]="disconnected"></ng-container>

<ng-template #required>
	<p class="err-msg">Field is Required</p>
</ng-template>

<ng-template #pattern>
	<p class="err-msg">Field Must be a Number</p>
</ng-template>

<ng-template #disconnected>
	<div id="disconnected">
		<p>
			⚠️ It looks like OpenSpace is disconnected, but you can still work in the scene editor. However, values such as
			<b>latitude</b>, <b>longitude</b>, and <b>altitude</b>
			may cause errors when previewing or playing a scene with nodes that cannot have a Geo-Position (e.g, the ISS).
		</p>
	</div>
</ng-template>
