@use '/src/styles';

:host{
    @extend %align-center, %flx-col;
    gap: 1rem;
    // max-height: calc(100% - 8rem);
}

.creator{
    @extend %flx, %max-WH;
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(10rem, 2fr)  minmax(8rem, 1fr);
    grid-template-rows: max-content 4rem 1fr;
    overflow-y: auto;
    background: #ffffff;
    min-height: 25rem;
}

#header{
    @extend %align-center;
    justify-content: space-between;
    padding: 0.5rem;
    grid-column: 1 / span 3;
    border-bottom: solid 2px var(--gray);

    .input{
        font-size: 1.5rem;
        border: none;
        max-width: 40rem;
    }
    #save{
        align-self: center;
        width: 8rem;
        height: 2.5rem;
    
        svg{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}



$grid-bd: solid 2px var(--gray);

.title-wrapper{
    @extend %max-WH, %just-center, %align-center;
    border-bottom: $grid-bd;
    .title{
        font-size: 1.5em;
        text-align: center;
    }
}

#scene-list-title{ border-right: $grid-bd; }
#opts-title{ border-left: $grid-bd; }

// Scene creation
.scene{
    @extend %flx-col, %align-center;
    gap: 5rem;
    padding-top: 1rem;
    background: #fafafb;

    
    & > div:nth-child(2){
        @extend %flx-col, %align-center, %max-WH;
        gap: 1rem;
        
        .btn{
            align-self: flex-end;
            width: 8rem;
        }
    }


}


.scene-options, .scene-list{
    min-width: 10rem;
}


//Options for a particular scene (e.g., trail, fly-to, focus, etc.)
.scene-options{
    @extend %flx-col;
    overflow-y: auto;
    border-left: solid 2px var(--gray);
    .options{
        @extend %flx-col;
        margin: 0;
        padding-left: 1rem;

        label{ font-size: 1rem; }
        li{
            @extend %align-center;
            justify-content: space-between;
            width: 8rem;
        }
    }
}


// List of created scenes
.scene-list{
    @extend %flx-col;
    gap: 0.5rem;
    padding: 0 1rem;
    border-right: solid 2px var(--gray);
}


// Show details 
.details{
    padding: 0.5rem;
    background: #fafafb;

    form{
        @extend %flx-col;
        gap: 1rem;
        padding: 1rem 0;
        
        .section{ 
            gap: 1rem;
            border: none; 
        }
        textarea{ resize: none; }
    }  
}


//For switching between views in the center
#tabs{
    @extend %align-center, %just-center;
    gap: 1rem;

    .tab{
        label{
            p{
                cursor: pointer;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                text-align: center;
                color: var(--txt-color);
                border-radius: var(--bd-radius); 

                // &:hover + input[type=radio]:not(:checked){
                &:hover{
                    transform: translateY(-2px);
                    color: #ffffff;
                    background: var(--color-primary);
                }
            }

            input[type=radio]{
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;  
            }

            input[type=radio]:checked + p{
                color: var(--color-primary);
                background: #d0e4ff;
            }


        }

    }
}

// Chevron icon
.chevron{ stroke: #a5a1a1; cursor: pointer; }

.section{
    @extend %just-center, %max-W, %flx-col;
    padding: 0.5rem;
    border-bottom: $grid-bd;
    
    ul{
        transition: all 0.2s;
        max-height: 10rem;
        overflow-y: auto;
    }
    
    &.collapsed{ 
        ul{
            max-height: 0rem;
            overflow-y: hidden; 
        }
        svg{ transform: rotate(180deg); }
    }

    .header{
        @extend %align-center, %max-W;
        justify-content: space-between;
        font-size: 1.3rem;
    }

    label{ 
        @extend %align-center;
        gap: 0.5rem;
        font-size: 1.5rem; 

        // Required inidicator
        span{
            color: #a5a1a1;
            font-size: 0.9rem;
        }
    }
}
