<div class="creator">
    <div class="header">
        <a routerLink="/" id="back">
            <i-tabler name="arrow-bar-to-left" class="ico"></i-tabler>
            Back to Home
        </a>
        <input name="title" class="title input" type="text" selectallOnclick
        [class.invalid]="!show.title.length" required 
        placeholder="Show Title" [(ngModel)]="show.title"/>  
        
        <connection-status id="connection-status"></connection-status>

        <creator-menu id="menu" [menuItems]="menu"></creator-menu>
    </div>


    <div class="scene-creator">
        <ng-container *ngIf="($selectedScene | async) then sceneTabs; else noScene"></ng-container>
    </div>

    <div class="scene-list">
        <creator-scene-list
        [scenes]="show.scenes"
        [defaultScene]="DEFAULT_SCENE"
        [$currentScene]="$setScene"
        (duplicateClickedEvent)="$duplicateScene.next($event)"
        (deleteClickedEvent)="onDeleteClicked()"
        (listDragDropEvent)="isSaved=false;">
        </creator-scene-list>
    </div>
</div>

<modal title="Delete Scene?" *ngIf="$isConfirmShowing | async"
    (closedEvent)="$setConfirmVisibility.next(false)">
    <div *ngIf="$selectedScene | async as scene" class="modal-content">
        <p class="prompt"> Deleting scene <b>{{scene.title}}</b> cannot be undone.</p>
        <button class="btn secondary" (click)="$setConfirmVisibility.next(false)">No, Cancel</button>
        <button class="btn primary" id="delete" (click)="deleteScene()">Yes, Delete</button>
    </div>
</modal>

<modal title="Reset Scene?" *ngIf="$isResetShowing | async"
    (closedEvent)="$setResetVisibility.next(false)">
    <div *ngIf="$selectedScene | async as scene" class="modal-content">
        <p class="prompt"> Reset scene <b>{{scene.title}}</b> to default values?</p>
        <button class="btn secondary" (click)="$setResetVisibility.next(false)">No, Cancel</button>
        <button class="btn primary" (click)="resetScene()">Yes, Reset</button>
    </div>
</modal>

<modal title="Duplicate Scene" *ngIf="$isDuplicateShowing | async as scene"
    (closedEvent)="$duplicateScene.next(null)">
    <div class="modal-content" id="duplicate">
        <div class="floating-input">
            <input class="input" type="text" [(ngModel)]="scene.title" placeholder=" "/>
            <span>Scene Title</span>
        </div>
        <button class="btn secondary" (click)="$duplicateScene.next(null)">Cancel</button>
        <button class="btn primary" type="submit" (click)="duplicateScene(scene)" [disabled]="sceneTitleExists(scene.title)">Duplicate</button>
    </div>
    <p id="title-exists" *ngIf="sceneTitleExists(scene.title)">Scene with title <b>{{scene.title}}</b> already exists.</p>
</modal>


<ng-template #sceneTabs>
    <form id="scene-form" [formGroup]="sceneForm" *ngIf="$selectedScene | async">
        <div class="scene-title">
            <input name="title" type="text" class="title" 
            formControlName="title" placeholder="Scene Title">
            <i-tabler name="x" id="x" (click)="sceneForm.controls.title.setValue('')" ></i-tabler>
        </div>

        <tabs>
            <tab name="Summary">
                <div class="summary">
                    <div class="section">
                        <p class="title">GeoPosition</p>
                        <ul class="geoPos">
                            <li>
                                <p>Node: </p>
                                <p>{{formValue.geoPos.node}}</p>
                            </li>
                            <li>
                                <p>Latitude:</p>
                                <p>{{formValue.geoPos.lat}}</p>
                            </li>
                            <li>
                                <p>Longitude:</p>
                                <p>{{formValue.geoPos.long}}</p>
                            </li>
                            <li>
                                <p>Altitude:</p>
                                <p>{{formValue.geoPos.alt}}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="section">
                        <p class="title">Enabled Trails ({{formValue.options.enabledTrails.length}})</p>
                        <ul class="enabledTrails">
                            <li *ngFor="let trail of formValue.options.enabledTrails">
                                {{trail}}
                            </li>
                            <li *ngIf="!formValue.options.enabledTrails.length">
                                No trails enabled
                            </li>
                        </ul>
                    </div>
                    <div class="section" id="duration">
                        <p class="title">Transition Duration</p>
                        <ul>
                            <li *ngIf="formValue.transistion">
                                {{formValue.transistion}} seconds
                            </li>
                            <li *ngIf="!formValue.transistion">
                                Default Transition
                            </li>
                        </ul>
                    </div>
                </div>
            </tab>

            <tab name="Position" [isActive]="true">
                <scene-position id="scene-pos"
                formControlName="geoPos"
                [isAutoMode]="isAutoMode">
                </scene-position>
            </tab>

            <tab name="Options">
                <scene-options formControlName="options"></scene-options>
            </tab>
            
            <tab name="Transition">
                <div class="transition">
                    <p>How long it takes OpenSpace to fly to the selected target 
                        <span style="color: #999595;">(in seconds)</span>
                    </p>
                    
                    <input class="input" type="text" name="transistion"
                    formControlName="transistion"
                    placeholder="Transition Duration" id="transition"/>
            
                    <p class="error" *ngIf="sceneForm.controls['transistion'].errors?.['pattern']">
                        This field is digits only
                    </p>
                </div>
            </tab>

            <tab name="Script">
                <textarea id="script" class="input" 
                cols="30" rows="20"
                formControlName="script"
                placeholder="Script Text">
                </textarea>
            </tab>       
        </tabs>

        <div id="options">
            <button id="reset" type="button" (click)="onResetClicked()">Reset</button>
            <button id="preview" type="button" *ngIf="$selectedScene | async as scene" class="btn secondary" (click)="preview(scene)">Preview</button>
        </div>
    </form>
</ng-template>

<ng-template #noScene>
    <div id="no-scene">
        <h1>No Scene Selected</h1>
    </div>
</ng-template>