<div class="creator">
    <div class="header">
        <a routerLink="/" id="back">
            <i-tabler name="arrow-bar-to-left" class="ico"></i-tabler>
            Home
        </a>
        <input name="title" class="title input" type="text" selectallOnclick
        placeholder="Show Title" [(ngModel)]="show.title"/>  
        
        <creator-menu id="menu" [menuItems]="menu"></creator-menu>
    </div>


    <div class="scene-creator">
        <ng-container *ngIf="($selectedScene | async) then sceneTabs; else noScene"></ng-container>
    </div>

    <div class="scene-list">
        <creator-scene-list
        [scenes]="show.scenes"
        [defaultScene]="DEFAULT_SCENE"
        (itemClickedEvent)="$setScene.next($event)"
        (duplicateClickedEvent)="onDuplicateClicked($event)"
        (deleteClickedEvent)="onDeleteClicked()"
        (listDragDropEvent)="isSaved=false;">
        </creator-scene-list>
    </div>
</div>

<confirm-popup *ngIf="$isConfirmShowing | async"
(confirmClickedEvent)="onConfirmFn()"
(cancelClickedEvent)="onCancel()"
[prompt]="confirmPrompt">
</confirm-popup>


<ng-template #sceneTabs>
    <form id="scene-form" [formGroup]="sceneForm" *ngIf="$selectedScene | async as currScene">
        <div class="scene-title">
            <input name="title" type="text" class="title" 
            formControlName="title" placeholder="Scene Title">
            <i-tabler name="x" id="x" (click)="sceneForm.controls.title.setValue('')" ></i-tabler>
        </div>

        <!-- <scene-options formControlName="options"></scene-options> -->

        <tabs>
            <tab name="Summary">
                <div class="summary">
                    <div class="section">
                        <p class="title">GeoPosition</p>
                        <ul class="geoPos">
                            <li>
                                <p>Node: {{currScene?.geoPos?.nodeName}}</p>
                            </li>
                            <li>
                                <p>Latitude:</p>
                                <p>{{currScene?.geoPos?.lat}}</p>
                            </li>
                            <li>
                                <p>Longitude:</p>
                                <p>{{currScene?.geoPos?.long}}</p>
                            </li>
                            <li>
                                <p>Altitude:</p>
                                <p>{{currScene?.geoPos?.alt}}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="section">
                        <p class="title">Enabled Trails</p>
                        <ul class="enabledTrails">
                            <li *ngFor="let trail of currScene.options.enabledTrails">
                                {{trail}}
                            </li>
                            <li *ngIf="!currScene.options.enabledTrails.length">
                                No trails enabled
                            </li>
                        </ul>
                    </div>
                    <div class="section" id="duration">
                        <p class="title">Transition Duration</p>
                        <ul>
                            <li *ngIf="currScene.duration">
                                {{currScene.duration}} seconds
                            </li>
                            <li *ngIf="!currScene.duration">
                                Default Transition
                            </li>
                        </ul>
                    </div>
                </div>
            </tab>

            <tab name="Position" [isActive]="true">
                <scene-position id="scene-pos"
                formControlName="geoPos"
                [isAutoMode]="isAutoMode">
                </scene-position>
            </tab>

            <tab name="Options">
                <scene-options formControlName="options"></scene-options>
            </tab>
            
            <tab name="Transition">
                <div class="transition">
                    <p>How long it takes OpenSpace to fly to the selected target 
                        <span style="color: #999595;">(in seconds)</span>
                    </p>
                    
                    <input class="input" type="text" name="transistion"
                    formControlName="transistion"
                    placeholder="Transition Duration" id="transition"/>
            
                    <p class="error" *ngIf="sceneForm.controls['transistion'].errors?.['pattern']">
                        This field is digits only
                    </p>
                </div>
            </tab>

            <tab name="Script">
                <textarea id="script" class="input" 
                cols="30" rows="20"
                formControlName="script"
                placeholder="Script Text">
                </textarea>
            </tab>       
        </tabs>

        <div id="options">
            <button id="reset" type="button" (click)="onResetClicked()">Reset</button>
            <button id="preview" type="button" *ngIf="$selectedScene | async as scene" class="btn secondary" (click)="preview(scene)">Preview</button>
        </div>
    </form>
</ng-template>

<ng-template #noScene>
    <div id="no-scene">
        <h1>No Scene Selected</h1>
    </div>
</ng-template>