@use '/src/styles';

:host{
    @extend %max-WH, %align-center, %flx-col;
    gap: 1rem;
    max-height: calc(100% - 8rem);
}

/* .creator{
    @extend %max-H, %card, %align-center, %flx-col;
    position: relative;
    gap: 2rem;
    width: 95%;
    background: #ffffff;
    min-height: 25rem;
    max-width: 90rem;
} */

.creator{
    @extend %max-H, %card;
    overflow-y: auto;
    width: 95%;
    background: #ffffff;
    min-height: 25rem;
    max-width: 90rem;
    
}

.scene-wrapper{
    @extend %flx, %max-WH;
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(10rem, 2fr)  minmax(8rem, 16rem);
    grid-template-rows: max-content auto;
}


$grid-bd: solid 2px var(--gray);

.title{
    font-size: 1.5em;
    margin: 0.5rem 0;
    text-align: center;
}

.title-wrapper{
    @extend %max-W;
    justify-self: center;
    height: max-content;
    border-bottom: $grid-bd;
    align-self: center;
}

#scene-list-title{ border-right: $grid-bd; }
#opts-title{ border-left: $grid-bd; }

// Scene creation
.scene{
    @extend %flx-col, %align-center;
    gap: 2rem;
    padding-top: 1rem;
    background: #fafafb;

    
    & > div:nth-child(2){
        @extend %flx-col, %align-center, %max-WH;
        gap: 1rem;
        
        .btn{
            align-self: flex-end;
            width: 8rem;
        }
    }

    #finish{
        align-self: center;
        width: 25rem;
    }
}


.scene-options, .scene-list{
    padding: 0 1rem;
    min-width: 10rem;
    gap: 0.5rem;
}


//Options for a particular scene (e.g., trail, fly-to, focus, etc.)
.scene-options{
    @extend %flx-col;
    border-left: solid 2px var(--gray);

    .section{
        @extend %flx-col;
        gap: 0.5rem;
    }

    .options{
        @extend %flx-col;
        gap: 0.5rem;
        margin: 0;
        padding-left: 1rem;

        label{ font-size: 1rem; }
        li{
            @extend %align-center;
            justify-content: space-between;
            width: 8rem;
        }
    }
}


// List of created scenes
.scene-list{
    @extend %flx-col;
    border-right: solid 2px var(--gray);
}


// Show details 
.details{
    width: max-content;

    form{
        @extend %flx-col;
        gap: 1rem;
        padding: 1rem 0;
        width: 30rem;
    
        .btn{
            @extend %max-W;
            align-self: center;
            max-width: 20rem;
            height: 3rem;
        }
    
        textarea{ resize: none; }
    }
    
    hr{
        margin: 1rem;
        overflow: hidden;
        border-radius: 18px;
        border: solid 1px var(--gray);
    }
}


.prog-indicator{
    @extend %align-center;
    align-self: flex-start;
    gap: 1rem;
    
    & > div{
        @extend %align-center;
        gap: 0.5rem;

        .num{
            @extend %align-center, %just-center;
            width: 2rem;
            height: 2rem;
            text-align: center;
            background: var(--color-primary);
            border-radius: 50%;
            color: #ffffff;
        }

        .name{
            color: #a5a1a1;
            font-size: 1.25rem;

            &.active{
                color: unset;
            }
        }
    }

}

// Chevron icon
.chevron{ stroke: #a5a1a1; }

.section{
    @extend %just-center, %max-W;
    gap: 1rem;

    label{ 
        @extend %align-center;
        gap: 0.5rem;
        font-size: 1.5rem; 
        // Required inidicator
        span{
            color: #a5a1a1;
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-height: 1080px) {
/*     .scene{
        max-height: 35rem;
    } */
}


//4k Screens
@media screen and (max-height: 1440px) {
    .creator{
        max-height: 50rem;
    }
}