@use '/src/styles';

$W: 95%;

:host{
    @extend %flx-col, %max-H;
    gap: 1rem;
    width: $W;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 100rem;
    border-radius: var(--bd-radius);
}


.header{
    @extend %align-center;
    justify-content: space-between;
    height: 4rem;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    // border-bottom: solid 2px var(--gray);
    // width: 80%;
}

.list{
    @extend %just-center, %max-H;
    gap: 1rem;
    padding: 1rem 0rem;
    flex-wrap: wrap;
    overflow-y: auto;
}



#no-content{ @extend %max-W, %just-center; }

//4k Screens
@media screen and (max-height: 1440px) {
    .list{
        max-height: 30rem;
    }
}


/* @media screen and (max-width: 1024px) {
    :host{
        max-width: 60rem;
    }
}

@media screen and (min-width: 1024px) {
    :host{
        max-width: 80rem;
    }
} */