@use '/src/styles';

$W: 95%;

:host{
    @extend %flx-col, %max-H;
    gap: 1rem;
    width: $W;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 100rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 2px var(--gray);
    border-radius: var(--bd-radius);
}


.header{
    @extend %align-center;
    justify-content: space-between;
    height: 4rem;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    // border-bottom: solid 2px var(--gray);
    // width: 80%;
}

.list{
    @extend %just-center, %max-H;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 1rem 0rem;
}



.search-bar{
    @extend %align-center;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: var(--bd-radius);
    // background-color: var(--gray);
    border: solid 2px var(--gray);
    width: 100%;
    min-width: 25rem;
    max-width: 35rem;

    input{
        width: 100%;
        font-size: 1.2rem;
    }

    svg{ color: #807d7d; }

    &:focus-within, &:hover{
        border-color: var(--color-primary);
        // box-shadow: 0 0 6px var(--color-primary);
    }
}

#filter-btn{
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: var(--bd-radius);
    padding: 0.5rem 1rem;
    border: solid 2px var(--gray);

    &:hover{
        border-color: var(--color-primary);
        // box-shadow: 0 0 6px var(--color-primary);

        svg{ color: var(--txt-color); }
    }

    svg{ color: #807d7d; }

}


#no-content{
    @extend %max-W, %just-center;
    
}


/* @media screen and (max-width: 1024px) {
    :host{
        max-width: 60rem;
    }
}

@media screen and (min-width: 1024px) {
    :host{
        max-width: 80rem;
    }
} */