<div class="header">
    <div class="search-bar">
        <ng-container [ngTemplateOutlet]="searchIcon"></ng-container>
        <input type="text" class="bare">
    </div>

    <div class="filters">
        <button id="filter-btn" class="bare">
            <ng-container [ngTemplateOutlet]="filterIcon"></ng-container>
        </button>
    </div>
</div>

<div class="list">
    <ng-container *ngIf="showsList then list; else emptyList"></ng-container>
</div>



<ng-template #searchIcon>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
</ng-template>

<ng-template #filterIcon>
    <svg id="filter-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
    </svg>
</ng-template>

<ng-template #emptyList>
    <p>Create a show to get started!</p>
</ng-template>

<ng-template #list>
    <show-card (cardClicked)="showPreviewService.previewShow($event)" *ngFor="let s of showsList" [show]="s"></show-card>
</ng-template>