<div class="grid">
    <div id="geoLocation">
        <div class="section" id="mode">
            <label for="mode">Mode:</label>
            <div id="mode-set">
                <span [class.active]="isAutoMode" 
                (click)="$isAutoMode.next(true)">Auto</span>
                <span [class.active]="!isAutoMode" 
                (click)="$isAutoMode.next(false)">Manual</span>
            </div>
        </div>

        <div class="section">
            <label for="lat">Latitude:</label>
            <input name="lat" type="number" class="input" [disabled]="isAutoMode"
                [(ngModel)]="geoPosition.lat" (ngModelChange)="onValueChange()"
            placeholder="Latitude">
        </div>
        <div class="section">
            <label for="long">Longitude:</label>
            <input name="long" type="number" class="input" [disabled]="isAutoMode"
            [(ngModel)]="geoPosition.long" (ngModelChange)="onValueChange()"
            placeholder="Longitude">
        </div>
        <div class="section">
            <label for="alt">Altitude:</label>
            <input name="alt" type="number" class="input" [disabled]="isAutoMode"
            [(ngModel)]="geoPosition.alt" (ngModelChange)="onValueChange()"
            placeholder="Altitude">
        </div>
        <div class="section">
            <label for="node">Node:</label>
            <dropdown [items]="pathNavOptions" name="pathnav" 
            [(ngModel)]="geoPosition.nodeName" (ngModelChange)="onValueChange()"></dropdown>
        </div>
    </div>
</div>



