<div class="show" [class.active]="active">
  <div class="section">
    <p class="header">Title</p>
    <p class="content title">{{show.title}}</p>
  </div>
  <div class="section">
    <p class="header"># of Scenes</p>
    <p class="content">{{show.scenes.length}}</p>
  </div>
  <div class="section">
    <p class="header">Date Created</p>
    <p class="content">{{show.dateCreated | date}}</p>
  </div>
  <div class="section">
    <p class="header">Favorite</p>
    <input type="checkbox" [(ngModel)]="show.isStarred" (ngModelChange)="onChange()" class="content"/>
  </div>
</div>