@font-face {
    font-family: 'Inter';
    src: url('./assets/inter.ttf');
}

*{
    box-sizing: border-box;
    font-family: 'Inter', 'Roboto';
    transition: color 0.2s, background 0.2s, transform 0.2s, border-color 0.2s;
}

/* Variables */
:root{
    --color-primary: #157aff;
    --color-hover: #0b3d80;
    --color-secondary: #444655;
    --gray: #e7e8ea;
    --bg: #f8fafb;
    --txt-color:#262949;
    --bd-radius: 8px;
    --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

%flx{ display: flex; }
%flx-col{ @extend %flx; flex-direction: column; }
%just-center{ @extend %flx; justify-content: center; }
%align-center{ @extend %flx; align-items: center; }

%max-W{ width: 100%; }
%max-H{ height: 100%;}
%max-WH{ @extend %max-H, %max-W; }

%card{
    box-shadow: var(--shadow);
    border-radius: var(--bd-radius);
}

// For making buttons and inputs bare for customization
%bare{
    border: none;
    outline: none;
    background: transparent;
}

.bare{
    @extend %bare;
}

%svg-M{
    width: 1.5rem;
    height: 1.5rem;
}

%glass{
    $blur: 25px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

/* %mesh{
    background-color:hsla(221,0%,100%,1);
    background-image:
    radial-gradient(at 45% 91%, hsla(157,67%,88%,1) 0px, transparent 50%),
    radial-gradient(at 2% 100%, hsla(157,93%,67%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(170,0%,100%,1) 0px, transparent 50%);
} */
%mesh{
    background-color:hsla(200,27%,97%,1);
    background-image:
    radial-gradient(at 83% 69%, hsla(282,86%,72%,1) 0px, transparent 50%),
    radial-gradient(at 65% 67%, hsla(72,76%,71%,1) 0px, transparent 50%),
    radial-gradient(at 36% 92%, hsla(187,94%,66%,1) 0px, transparent 50%);
}



html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eeeff8;
    @extend %mesh;
}


p, h1, h2, h3{
    margin: 0;
    padding: 0;
    color: var(--txt-color);
}

input{
    color: var(--txt-color);
}

ul{ list-style: none; margin: 0; }

svg{ @extend %svg-M; }


// Default button style
.btn{
    @extend %bare, %align-center, %just-center;
    padding: 0.5rem 1rem;
    color: #ffffff;
    border-radius: var(--bd-radius);
    border: solid 2px transparent;
    gap: 0.5rem;
    font-size: 1rem;

    &:not(:disabled):active{
        transform: translateY(2px);
    }

    &:not(:disabled).primary{
        @extend .btn;
        background: var(--color-primary);

        &:hover{
            background: var(--color-hover);
        }
    }

    &:disabled{
        cursor: not-allowed;
    }

    &:disabled.primary{
        background: #157aff38;
    }

    &:disabled.secondary{
        background: #a8aabc;
    }


    &:not(:disabled).secondary{
        @extend .btn;
        color: #ffffff;
        background: var(--color-secondary);

        &:hover{
            background: #1b1c22;
        }
    }
}

//Default text input style
.input{
    @extend %bare, %max-W;
    transition: border-color 0.2s;
    font-size: 1rem;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: var(--bd-radius);
    border: solid 2px var(--gray);
    
    &:not(:disabled):hover, &:not(:disabled):focus-within{
        border-color: var(--color-primary);
    }

    &:disabled{
        background: #eaf1f8;
        border-color: #dcdde4;
    }
}