@font-face {
    font-family: 'Inter';
    src: url('./assets/inter.ttf');
}

*{
    box-sizing: border-box;
    font-family: 'Inter', 'Roboto';
    transition: color, background, transform, border-color 0.2s;
}

/* Variables */
:root{
    --color-primary: #ef233c;
    --color-secondary: #84A59D;
    --gray: #ced1d4;
    --bg: #f8fafb;
    --txt-color:#2B2D42;
    --bd-radius: 14px;
    --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    --gradient-bg: #f28482;
    --gradient-bg-img: linear-gradient(90deg, #f28482 0%, #FF99AC 98%);
}

%flx{ display: flex; }
%flx-col{ @extend %flx; flex-direction: column; }
%just-center{ @extend %flx; justify-content: center; }
%align-center{ @extend %flx; align-items: center; }

%max-W{ width: 100%; }
%max-H{ height: 100%;}
%max-WH{ @extend %max-H, %max-W; }

%card{
    border-radius: var(--bd-radius);
    box-shadow: var(--shadow);
}

// For making buttons and inputs bare for customization
%bare{
    border: none;
    outline: none;
    background: transparent;
}

.bare{
    @extend %bare;
}

%svg-M{
    width: 1.5rem;
    height: 1.5rem;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
}


p, h1, h2, h3{
    margin: 0;
    padding: 0;
    color: var(--txt-color);
}

input{
    color: var(--txt-color);
}

ul{
    list-style: none;
}

svg{
    @extend %svg-M;
}